@use "sass:color";
@use "mixin";

// An example of a dark theme, where
// the accents are darker, not lighter.
html.theme-dark {
  $foreground: #eee;

  $background: #25292c;
  $background-iframe: #25292c;

  $button-text: #eee;
  $button-text-disabled: #666;

  @function adjust-lightness($color, $lightness) {
    @return color.adjust($color, $lightness: $lightness);
  }

  $accent: adjust-lightness(#e01563, -15%);
  $success: adjust-lightness(#68c200, -15%);
  $error: adjust-lightness(#f4001e, -15%);
  $disabled: adjust-ligthness(#ccc, -15%);

  // The Slack logo has to have white background,
  // so we'll add it since the main background
  // isn't white.
  .logos.slack {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #fff;
  }

  @include mixin.theme(
    // $color-background:
    $background,
    // $iframe-background:
    $background-iframe,
    // $color-text:
    $foreground,
    // $color-plus-sign:
    color.adjust($foreground, $lightness: -60%),
    // $color-footer:
    color.adjust($foreground, $lightness: -60%),
    // $color-footer-link:
    color.adjust($foreground, $lightness: -40%),
    // $color-signin:
    color.adjust($foreground, $lightness: -20%),
    // $color-signin-link:
    $accent,
    // $color-coc:
    color.adjust($foreground, $lightness: -20%),
    // $color-coc-link:
    color.adjust($foreground, $lightness: -20%),
    // $color-button-text:
    $button-text,
    // $color-button-background:
    $accent,
    // $color-button-success-text:
    $button-text,
    // $color-button-success-background:
    $success,
    // $color-button-error-text:
    $button-text,
    // $color-button-error-background:
    $error,
    // $color-button-pressed-text:
    $button-text,
    // $color-button-pressed-background:
    color.adjust($accent, $lightness: -10%),
    // $color-button-disabled-text:
    $button-text-disabled,
    // $color-button-disabled-background:
    $disabled,
    // $color-users-active:
    $accent,
    // $color-users-total:
    $foreground,
    // $color-input-text:
    color.adjust($foreground, $lightness: -40%),
    // $color-input-border:
    color.adjust($foreground, $lightness: -60%),
    // $color-input-focused-text:
    color.adjust($foreground, $lightness: -20%),
    // $color-input-focused-border:
    color.adjust($foreground, $lightness: -40%)
  );
}
